<link href="../css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>

  <script id="footer-template" type="text/x-handlebars-template">
    <div class="footer">
      <div class="container">
          <div class="row">
              <div class="col-4">
                <ul class="design">
                <li class="social"><a href="#" ><i class="fa fa-facebook pic socialfa"
                   style="color:white";></i></a></li>
                <li class="social"><a href="#"><i class="fa fa-twitter pic socialfa" style="color:white";></i></a></li>
                <li class="social"><a href="#"><i class="fa fa-linkedin pic socialfa" style="color:white";></i></a></li>
                <li class="social"><a href="#"><i  class="fa fa-youtube socialfa" style="color:white";></i>
                 </a></li> 
                </ul>
              </div>
             
              <div class="col-4">
                  <ul class="design">
                  <li><a href="#">{{section1}}</a></li>
                  <li><a href="#">{{section2}}</a></li>
                  <li><a href="#">{{section3}}</a></li>
                  <li><a href="#">{{section4}}</a></li> 
                  </ul>
                </div>
                <div class="col-4">
                    <ul class="design">
                    <li><a href="#">{{section5}}</a></li>
                    <li><a href="#">{{section6}}</a></li>
                    <li><a href="#">{{section7}}</a></li>
                    <li><a href="#">{{section8}}</a></li> 
                    </ul>
                  </div>
                  
            </div>
      </div>
      <div class="footer-bottom">
        &copy;2019 LambdaTest.com. All rights reserved
        <ul>
            <li><a href="#">{{obj1}}</a></li>
            <li><a href="#">{{obj2}}</a></li>
            <li> <a href="#">{{obj3}}</a></li>
          
        </ul>
      </div>
      
    </div>  
  </script>


  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d6e582ceb1a6b0be60ab537/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>

    <script>
        $(function () {
          // Grab the template script
          var theTemplateScript = $("#footer-template").html();
        
          // Compile the template
          var theTemplate = Handlebars.compile(theTemplateScript);
        
          // Define our data object
          var context={
            "obj1": "privacy",
            "obj2": "Term of use",
            "obj3": "Sitemap",
            "section1": "FAQ",
            "section2": "Team",
            "section3": "Career",
            "section4": "Contact Us",
            "section5": "Features",
            "section6": "List of Browsers",
            "section7": "Integrations",
            "section8": "Partners"
       
          };
        
          // Pass our data to the template
          var theCompiledHtml = theTemplate(context);
        
          // Add the compiled html to the page
          $('.content-placeholder').html(theCompiledHtml);
        });
        </script>
  
  <!--Your new content will be displayed in here-->
  <div class="content-placeholder"></div>
</body>
</html>