
  <script id="footer-template" type="text/x-handlebars-template">
    <div class="footer">
      <div class="footer-content">
        <div class="footer-section about"></div>
        <div class="footer-section links"></div>
        <div class="footer-section contact"></div>
        
      </div>
      <div class="footer-bottom">
        &copy;<p 2019 LambdaTest.com. All rights reserved
        <ul>
            <li><a href="#">{{obj1}}</a></li>
            <li><a href="#">{{obj2}}</a></li>
            <li> <a href="#">{{obj3}}</a></li>
          
        </ul>
      </div>
      
    </div>  
  </script>


  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5d6e582ceb1a6b0be60ab537/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>

    <script>
        $(function () {
          // Grab the template script
          var theTemplateScript = $("#footer-template").html();
        
          // Compile the template
          var theTemplate = Handlebars.compile(theTemplateScript);
        
          // Define our data object
          var context={
            "obj1": "privacy",
            "obj2": "Term of use",
            "obj3": "Sitemap"
       
          };
        
          // Pass our data to the template
          var theCompiledHtml = theTemplate(context);
        
          // Add the compiled html to the page
          $('.content-placeholder').html(theCompiledHtml);
        });
        </script>
  
  <!--Your new content will be displayed in here-->
  <div class="content-placeholder"></div>
</body>
</html>