<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Support page</title>
  <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>


  <script id="template" type="text/x-handlebars-template">
    <div class="header">
      <nav>
        <img src="../images/logo.png" width="250px" style="margin-left:33px; margin-top:24px";>
        <ul>
          <li><a href="#">{{link1}}</a></li>
          <li><a href="#">{{link2}}</a></li>
          <li><a href="#">{{link3}}</a></li>
          <li><a href="#">{{link4}}</a></li>
          <li><a href="#">{{link5}}</a></li>
          <li><a href="#">{{link6}}</a></li>
          <li class=sign><a href="#">{{link7}}</a></li>  
        </ul>
      </nav> 
    </div>  
    <div class="search">
        <h2>Welcome to Our Support Center</h2>
        <p style="margin-bottom: 20px">How Can We Help You?</p>
        <form class="bar" action="#" style="margin:auto;max-width:450px; position: relative;">
          <input type="text" placeholder="Type your question here.." name="search1">
          <button type="submit" class="icon"><i class="fa fa-search"></i></button>
        </form>
      </div>
  </script>

  <script>
  $(function () {
    // Grab the template script
    var theTemplateScript = $("#template").html();
  
    // Compile the template
    var theTemplate = Handlebars.compile(theTemplateScript);
  
    // Define our data object
    var context={

      "link1": "Live",
      "link2": "Automation",
      "link3": "Blog",
      "link4": "Pricing",
      "link5": "Support",
      "link6": "Login",
      "link7": "Sign up",
    };
  
    // Pass our data to the template
    var theCompiledHtml = theTemplate(context);
  
    // Add the compiled html to the page
    $('.content').html(theCompiledHtml);
  });
  </script>
  
</head>
<body>
  
  <!--Your new content will be displayed in here-->
  <div class="content"></div>
